/* General styles */
body{
    color: white;
}

hr {
    color: grey;
    height:2px;
    border-width:0;
    background-color:gray
}

.jumbotron {
    text-align: center;
    background-color: none;
    margin: 0;
}

.redText {
    color: black;
    font-weight: 700;
}

@media print {
    #hidden {
        visibility: hidden;
        color: white;
        background-color: white;
        display: none;
    }
}

/* ******************************************************************************* */
/* all first screen styles */

#first-screen {
    background-color: #1fab89;
    margin: 10px;
}

.first-screen-jumbotron{
    background-color: #1fab89;
}

.secondHeaderImage{
    object-fit: cover;
}

.imagesInSecondHeader {
    width: 100px;
    height: 100px;
}

/* ******************************************************************************* */
/* all second screen styles */

#second-screen {
    background-color: #62d2a2;
    margin: 10px;
}

.second-screen-jumbotron{
    background-color: #62d2a2;
}

/* ******************************************************************************* */
/* all third screen styles */

#third-screen {
    background-color: #1fab89;
    margin: 10px;
}

.third-screen-jumbotron{
    background-color: #1fab89;
}

#selectedBiggestImage {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

/* ******************************************************************************* */
/* all fourth screen styles */

#fourth-screen {
    background-color: #62d2a2;
    margin: 10px;
}

.fourth-screen-jumbotron{
    background-color: #62d2a2;
}

#selectedImage1, #selectedImage2, #selectedImage3{
    width: 200px;
    height: 300px;
} 

#notes {
    width: 90%;
    height: 150px;
}

.notesDiv {
    text-align: center;
}

/* ******************************************************************************* */
/* all fifth screen styles */

#fifth-screen {
    color: black;
    text-align: center;
    height: 100%;
}

.image {
    text-align: center;
    width: 100%;
}

img {
    width: 100%;
}

p {
    display: inline-block;
    text-align: start;
    margin-left: 5%;
    margin-right: 5%;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
  }
  
table, th, td {
border: 1px solid black;
}

#bigImageCell{
    width: 60%;
}

#selectedNotes {
    width: 200px;
    text-align: right;
}

#innerNoteSelected {
    text-align: right;
    margin: 10px;
}

#secondHeader {
    margin-top: 60px;
    margin-bottom: 60px;
}

#inlineBlockElement {
    display: block;
}

.changedHeightRow {
    height: 50px;
}